@import "./styles/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;
}

main {
    padding: 0 5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: $displayFont;
}

p,
a {
    font-family: $textFont;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: $textFont;
}